https://yukituna.com/2260/

In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
df = pd.read_csv('Donald-Tweets.csv')
#df = DataFrame(df['Date'], df['Tweet_Text'])
df.head()

,Date,Time,Tweet_Text,Type,Media_Type,Hashtags,Tweet_Id,Tweet_Url,twt_favourites_IS_THIS_LIKE_QUESTION_MARK,Retweets,Unnamed: 10,Unnamed: 11
0,16-11-11,15:26:37,Today we express our deepest gratitude to all ...,text,photo,ThankAVet,7.970000e+17,https://twitter.com/realDonaldTrump/status/797...,127213,41112,NaN,NaN
1,16-11-11,13:33:35,Busy day planned in New York. Will soon be mak...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/797...,141527,28654,NaN,NaN
2,16-11-11,11:14:20,Love the fact that the small groups of protest...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/797...,183729,50039,NaN,NaN
3,16-11-11,2:19:44,Just had a very open and successful presidenti...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/796...,214001,67010,NaN,NaN
4,16-11-11,2:10:46,A fantastic day in D.C. Met with President Oba...,text,NaN,NaN,7.970000e+17,https://twitter.com/realDonaldTrump/status/796...,178499,36688,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7375 entries, 0 to 7374
Data columns (total 12 columns):
Date                                         7375 non-null object
Time                                         7375 non-null object
Tweet_Text                                   7375 non-null object
Type                                         7375 non-null object
Media_Type                                   1225 non-null object
Hashtags                                     2031 non-null object
Tweet_Id                                     7375 non-null float64
Tweet_Url                                    7375 non-null object
twt_favourites_IS_THIS_LIKE_QUESTION_MARK    7375 non-null int64
Retweets                                     7375 non-null int64
Unnamed: 10                                  26 non-null float64
Unnamed: 11                                  13 non-null float64
dtypes: float64(3), int64(2), object(7)
memory usage: 691.5+ KB

In [4]:
df = DataFrame({"date":df['Date'],"tweet":df['Tweet_Text']})
df.head()

       date                                              tweet
0  16-11-11  Today we express our deepest gratitude to all ...
1  16-11-11  Busy day planned in New York. Will soon be mak...
2  16-11-11  Love the fact that the small groups of protest...
3  16-11-11  Just had a very open and successful presidenti...
4  16-11-11  A fantastic day in D.C. Met with President Oba...

In [5]:
def add_20(text):
    return "20"+text

In [6]:
df['date'] = df['date'].apply(lambda x: add_20(x))
df.head()

         date                                              tweet
0  2016-11-11  Today we express our deepest gratitude to all ...
1  2016-11-11  Busy day planned in New York. Will soon be mak...
2  2016-11-11  Love the fact that the small groups of protest...
3  2016-11-11  Just had a very open and successful presidenti...
4  2016-11-11  A fantastic day in D.C. Met with President Oba...

In [7]:
NPdata = df.as_matrix()
print(NPdata.shape)

(7375, 2)

/home/tim0114gap/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [8]:
NPdata[0][0], NPdata[0][1]

('2016-11-11',
 'Today we express our deepest gratitude to all those who have served in our armed forces. #ThankAVet https://t.co/wPk7QWpK8Z')

In [9]:
data = []
date = []
befordate = "2001-01-01"
word = ""
isfirst = False

for i in range(len(NPdata)):
    if(isfirst):
        if befordate != NPdata[i][0]:
            date.append(befordate)
            data.append(word)
            word = ""
        else:
            word += (" " + NPdata[i][1])
    befordate = NPdata[i][0]
    isfirst = True

In [10]:
len(data), len(date)

(478, 478)

In [11]:
df = DataFrame({"date":date,"tweet":data})
#df = df.set_index("date")
df

           date                                              tweet
0    2016-11-11   Busy day planned in New York. Will soon be ma...
1    2016-11-10
2    2016-11-09   Watching the returns at 9:45pm.\n#ElectionNig...
3    2016-11-08   RT @DonaldJTrumpJr: FINAL PUSH! Eric and I do...
4    2016-11-07   Hey Missouri lets defeat Crooked Hillary &amp...
..          ...                                                ...
473  2015-07-21   My response to the failing Des Moines Registe...
474  2015-07-20   RT @DanScavino: #Breaking\n#ABC #NEWS ۢ #Wash...
475  2015-07-19   The Republican Party must get tougher and sma...
476  2015-07-18   Via @fitsnews: Donald Trump: John McCain Is A...
477  2015-07-17   RT @Krause_Don: @realDonaldTrump You have bee...

[478 rows x 2 columns]

In [12]:
df = df.sort_values('date')
#df = df.reset_index(drop=True)
df.head()

           date                                              tweet
477  2015-07-17   RT @Krause_Don: @realDonaldTrump You have bee...
476  2015-07-18   Via @fitsnews: Donald Trump: John McCain Is A...
475  2015-07-19   The Republican Party must get tougher and sma...
474  2015-07-20   RT @DanScavino: #Breaking\n#ABC #NEWS ۢ #Wash...
473  2015-07-21   My response to the failing Des Moines Registe...

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 477 to 0
Data columns (total 2 columns):
date     478 non-null object
tweet    478 non-null object
dtypes: object(2)
memory usage: 11.2+ KB

In [14]:
df.to_csv("trumptweep2015~.csv",index=True)