https://yukituna.com/2260/

In [1]:
import tweepy

In [2]:
ck = "73SL2jVh2Puw7edSRP5JZceS1"
cs = "QFB3x8XYsQMNUYk6u0et3ky2k3taCmdpU7zNJX1RtMjuWf2mn2"
at = "2592817850-T7SjlwRhI4ij2E8jpYKpgl7jfA6S5NRPqexVxJ4"
ats = "oDc9bdqwKrQzV8y2pdgGyfQSqFudxsllAgEcB8nB1M9Aw"
auth = tweepy.OAuthHandler(ck, cs)
auth.set_access_token(at, ats)
api = tweepy.API(auth)

In [3]:
data = []
date = []

pages = [1,2,3,4,5,6,7,8,9,10,11]
for page in pages:
    results = api.user_timeline(screen_name="realDonaldTrump", count=200, page=page)
    for r in results:
        data.append(r.text)
        date.append(r.created_at)

In [4]:
from pandas import DataFrame
import pandas as pd

In [5]:
df = DataFrame({"date":date,"tweet":data})
df = df.set_index("date")
df.head()

                                                                 tweet
date
2019-11-06 23:56:46  A great evening last night in Kentucky and Mis...
2019-11-06 23:27:00  RT @RepDougCollins: Here’s Ambassador Taylor t...
2019-11-06 22:46:59  RT @realDonaldTrump: Stock Markets (all three)...
2019-11-06 21:54:02  Thanks to many of you here today, my Administr...
2019-11-06 20:15:58  ....Also talked about their Border with Syria,...

In [6]:
df2 = df.sort_values('date')
df2 = df.reset_index(drop=True)
df2.head()

                                               tweet
0  RT @Jim_Jordan: Business owners and hard-worki...
1  RT @TomFitton: BREAKING: FBI 302 reports of Br...
2  RT @SaraCarterDC: Talking about the BREAKING r...
3  RT @TomFitton: Biggest story anti-@realDonaldT...
4  RT @MZHemingway: EXCITING NEWS: I've written a...

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2196 entries, 2019-11-01 14:08:56 to 2019-08-16 15:57:04
Data columns (total 1 columns):
tweet    2196 non-null object
dtypes: object(1)
memory usage: 34.3+ KB

In [8]:
df.to_csv("trumptweep.csv",index=True)